<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<config>
		<add key="vulnerabilityData" value="false" />
	</config>
	<packageSources>
		<add key="GitHub" value="https://nuget.pkg.github.com/shadabgraphxsource/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<GitHub>
			<add key="username" value="shadabgraphxsource" />
			<add key="password" value="GITHUB_DOTNET_SDK_PERSONAL_ACCESS_TOKEN" />
		</GitHub>
	</packageSourceCredentials>
</configuration>
