<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="GitHub" value="https://nuget.pkg.github.com/g7-solutions/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<GitHub>
			<add key="username" value="g7-solutions" />
			<add key="password" value="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" />
		</GitHub>
	</packageSourceCredentials>
</configuration>
